@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;

    src: local("Roboto"),
    url("../fonts/Roboto.woff") format("woff"),
    url("../fonts/Roboto.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-style: normal;

    src: local("Roboto-Medium"),
    url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.woff2") format("woff2");

}

@font-face {
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-style: normal;

    src: local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");

}




body {
    min-width: 320px;
    margin: 100px auto;
    padding: 0 100px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__block {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
}

h2,
ul {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-inline-start: 0;
    margin-top: 0;
}

li {
    list-style-type: none;
}

li,
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}

h3 {
    font-weight: 500;
    font-size: 19px;
    line-height: 37px;
    text-align: center;
}
